html {
  background-color: grey;
}

#list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 4vw;
}

.student {
  border: 2px black grey;
  margin: 4px;
  padding: 50px;
  background-color: whitesmoke;
}

h1 {
  font-size: 30px;
}

h2 {
  font-family: "Dancing Script", cursive;
}
